ion-segment ion-label{
    color: black;
}

ion-content{
    --background: #2d6fe5;
}
ion-content h3{
    text-align: center;
}
.items{
    margin-top: 30%;
}

form ion-button{
    margin-left: 35%;
}
