<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button>
				<ion-menu-button menu="main-menu" color="custom"></ion-menu-button>
			</ion-button>
</ion-buttons>


	</ion-toolbar>

</ion-header>

<ion-content>
<h3>Room Details</h3>
<ion-list *ngFor = "let obj of responseObj | keyvalue" >
<div *ngFor='let room of obj.value'>
<ion-card>
  <ion-card-header>
    <div class="main">
      <img src="/assets/fast-food.png">
    </div>
    
  </ion-card-header>
  <ion-card-content class="ion-text-left">
    <ion-card-title class="ion-margin-bottom h3-color">Room Number: {{room.Name}}  </ion-card-title>
    <ion-card-subtitle class="ion-text-left">Room capacity: {{room.Capacity}} </ion-card-subtitle>
    <ion-card-subtitle class="ion-text-left">Spaces Left: {{room.Capacity}} </ion-card-subtitle>
    <ion-card-subtitle class="ion-text-left">Cost: {{room.cost}} </ion-card-subtitle>
    <paybox-button-widget merchant-key="85c6060a-ed58-45c2-9635-da7c221117ac" total="{{room.cost}}" 
    currency="GHS"> Click PayBox Button</paybox-button-widget>
  </ion-card-content>
</ion-card>

</div>
</ion-list>


</ion-content>


 