
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back" routerLink="/signup"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/signup">Sign up</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Login</h1>
    <img src="assets/logo.png" />
  </div>

  <form>
    <app-input name="Email" [(ngModel)]="user.email" placeholder="Email" ngDefaultControl required ngModel>></app-input>
    <app-input name="password" [(ngModel)]="user.pass" type="password" placeholder="Password" ngDefaultControl required ngModel></app-input>
    <ion-button (click)="login()" expand="block" shape="round">Login</ion-button>
  </form>
</ion-content>