<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button>
				<ion-icon name="apps"></ion-icon>
			</ion-button>
</ion-buttons>

		<ion-buttons slot="end">
			<ion-button class="bordered" fill="solid" color="light">
				<ion-icon color="custom" name="notifications"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>

</ion-header>

<ion-content>
<h3>Food Menu</h3>
<ion-card>
  <ion-card-header>
    <div class="main">
      <img src="/assets/fast-food.png">
    </div>
    
  </ion-card-header>
  <ion-card-content class="ion-text-left">
    <ion-card-title class="ion-margin-bottom h3-color">Tuo Zaafi  </ion-card-title>
    <ion-card-subtitle class="ion-text-left">Price: ¢15.00 </ion-card-subtitle>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <div class="main">
      <img src="/assets/fast-food.png">
    </div>
    
  </ion-card-header>
  <ion-card-content class="ion-text-left">
    <ion-card-title class="ion-margin-bottom h3-color">Fried Rice  </ion-card-title>
    <ion-card-subtitle class="ion-text-left">Price: ¢15.00 </ion-card-subtitle>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <div class="main">
      <img src="/assets/fast-food.png">
    </div>
    
  </ion-card-header>
  <ion-card-content class="ion-text-left">
    <ion-card-title class="ion-margin-bottom h3-color">Jollof Rice </ion-card-title>
    <ion-card-subtitle class="ion-text-left">Price: ¢15.00 </ion-card-subtitle>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <div class="main">
      <img src="/assets/fast-food.png">
    </div>
    
  </ion-card-header>
  <ion-card-content class="ion-text-left">
    <ion-card-title class="ion-margin-bottom h3-color"> Indomie </ion-card-title>
    <ion-card-subtitle class="ion-text-left">Price: ¢10.00 </ion-card-subtitle>
  </ion-card-content>
</ion-card>


</ion-content>
