ion-content{
    --background: #2d6fe5;
}

ion-card {
    margin-left: 5%;
    width: 90%;
    box-shadow: none;
    border-radius: 14px;
    padding: 14px;
    background: rgba(255,255,255,.8);
    color: black;
    .main {
      width: 60px;
      height: 60px;
      border-radius: 50px;
      background: #FFFFFF;
      box-shadow:  7px 7px 20px #dbdfe2, 
             -7px -7px 20px #ffffff;
            
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 30px;
      }

      

    }

    .files {
        padding-top: 14px;
    }

  }

  ion-content h3{
     text-align: center;
  }

  .h3-color{
      color: #A0A0A0;
  }


  .container {
    padding: 6px 20px;
    color: #FFFFFF;

    ion-item {
      --background: rgba(255,255,255,.1);
      padding: 0;
      margin: 14px 0;
      --border-radius: 14px;
      color: #FFFFFF;
      font-weight: 600;

      ion-label {
        padding: 6px 0;

        h4 {
          font-weight: 600;
          font-size: 16px;
        }
        h6 {
          color: rgba(255,255,255,.66);
        }
      }

    }

    h2 {
      padding-bottom: 8px;
    }

  }