

.menu-header-bg{
    height: 180px;
    width: 350px;
    background: #2d6fe5;
    background: linear-gradient(90deg, rgba(43,90,148,1) 0%, rgba(45,112,229,1) 35%, rgba(45,112,229,1) 100%);;
    box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
}

.header-content{
    position: absolute;
    top: 30px;
    left: 15px;
    display: flex;
    align-items: center;

    img{
        width: 80px;
        height: 80px;
        border-radius:50%;
        border: 7px solid #5e7ccc;
        margin-right: 14px;
    }

    h2{
        font-weight: 300;
        color: white;
    }

    p{
        font-size: 12px;
        color: #F3FBFB;
        font-weight: 100; 
        letter-spacing: 0.6px;
    }

}

.menu-items {
    margin: 0px;
    background-color: white;

    icon-icon{
        margin-right: 20px;
        color: #86979f;
    }

    ion-item{
        padding-left: 20px;
        margin-bottom: 10px;
        --background-color: white;
        

    }

    .active{
        border-left: 5px solid;
        color: #628cff;
        padding-left: 15px;

        ion-icon{
            color: #628cff;
        }
    }


}

.item-bg{
    background-color: white;
    color: black;
}

ion-icon{
    color: black;
}

.lining{
    border-bottom:#86979f solid 1px;
}
