<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back" routerLink="/login"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Log in</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Create your<br />Account</h1>

  <form id="form">
    <app-input placeholder="Your Name"></app-input>
    <app-input placeholder="Email"></app-input>
    <app-input type="password" placeholder="Password"></app-input>
    
    <ion-item>
    <ion-select placeholder="Select Gender">
      <ion-select-option value="f">Female</ion-select-option>
      <ion-select-option value="m">Male</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="block" shape="round">Sign Up</ion-button>
  </form>

  <p>By pressing 'Join Us' you agree to <br />our terms & conditions.</p>
</ion-content>